@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik+Microbe&family=Rubik+Puddles&display=swap');
.AboutUs{
    padding: 10vh;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    h1{
        font-family: 'Rubik Microbe';
        font-size: 5rem;
        color: #ff0070;
    }
    p{
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 2.5rem;
    }
}